<div class="call-to-actions">

  <div class="column">
    <div class="box dark-pink">
      <div class="">
        <%= image_tag "icon-large-supply.png" %>
      </div>
      <h3>Where is Powershop available?</h3>
      <div class="">
        <p>Nationwide. See <a href="" class="" id="open-listing" onclick="_gaq.push(['_trackPageview', 'virtual/what-is-powershop/area-listing']); _gaq.push(['_trackEvent', 'Reveal', '3-questions-what-is-powershop', 'Area-listing', 5]);">areas</a> we supply.</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="box medium-pink selected">
      <div class="">
        <%= image_tag "icon-large-moving.png" %>
      </div>
      <h3>Moving house?</h3>
      <div class="">
        <p><a href="" onclick="_gaq.push(['_trackEvent', 'Reveal', '3-questions-what-is-powershop', 'moving-house-link-click', 5]);">You can do it all online</a> in a few minutes. Or call us on 0800 IN CONTROL (0800 462 668 – free call). We will do everything, including contacting your old power&nbsp;company.</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="box light-pink">
      <div class="">
        <%= image_tag "icon-large-gas.png" %>
      </div>
      <h3>Need gas?</h3>
      <div class="">
        <p>Like thousands of our customers you can switch your electricity to Powershop and, if you&rsquo;re on dual fuel, keep your gas with your current supplier. Or, ask for a gas-only plan from a local gas retailer.</p>
      </div>
    </div>
  </div>

</div>
