        <div class="col outer st-wid-12 st-pos-1 jq-match-heights">

          <div class="col big-question no-1">
            <div class="box purple centered-type white-type">
              <div class="icon">
                <%= image_tag "icon-large-supply.png" %>
              </div>
              <h3>Where is Powershop available?</h3>
              <div class="inner">
                <p>Nationwide. See <a href="" class="open-overlay" id="open-listing" onclick="_gaq.push(['_trackPageview', 'virtual/what-is-powershop/area-listing']); _gaq.push(['_trackEvent', 'Reveal', '3-questions-what-is-powershop', 'Area-listing', 5]);">areas</a> we supply.</p>
              </div>
            </div>
          </div>

          <div class="col big-question no-2 active">
            <div class="box magenta centered-type white-type">
              <div class="icon">
                <%= image_tag "icon-large-moving.png" %>
              </div>
              <h3>Moving house?</h3>
              <div class="inner">
                <p><a href="" onclick="_gaq.push(['_trackEvent', 'Reveal', '3-questions-what-is-powershop', 'moving-house-link-click', 5]);">You can do it all online</a> in a few minutes. Or call us on 0800 IN CONTROL (0800 462 668 – free call). We will do everything, including contacting your old power&nbsp;company.</p>
              </div>
            </div>
          </div>

          <div class="col big-question no-3">
            <div class="box pink centered-type white-type">
              <div class="icon">
                <%= image_tag "icon-large-gas.png" %>
              </div>
              <h3>Need gas?</h3>
              <div class="inner">
                <p>Like thousands of our customers you can switch your electricity to Powershop and, if you&rsquo;re on dual fuel, keep your gas with your current supplier. Or, ask for a gas-only plan from a local gas retailer.</p>
              </div>
            </div>
          </div>

        </div>
