    <div class="container magenta">
      <div id="header-carousel" class="row full-bleed hero carousel">
        <div class="col arrow prev"><a href=""><%= image_tag "prev-button-over.svg" %>
        <div class="col arrow next"><a href=""><%= image_tag "next-button-over.svg" %>
        <div class="pips"></div>
        <div class="col outer st-wid-14 slides"></div>
      </div>
    </div>

    <div class="container spaced magenta" id="what-is-powershop">
      <div class="row">
        <div class="col outer st-wid-10 st-pos-2 ph-wid-12 ph-pos-1 centered-type white-type">
          <h1>What is Powershop?</h1>
          <p class="larger">We&rsquo;re an online power company. With us, you know exactly how much electricity you are using and what it costs, as you go. So no nasty bill surprises. Our toolkit helps you control your power usage. And our regular discounts help you save&nbsp;money.</p>
          <p class="larger">It&rsquo;s all available anytime through your computer, mobile or&nbsp;tablet.</p>
        </div>
      </div>
