
    <div class="container spaced purple white-type">
      <div class="row contact-support">

        <div class="col outer st-wid-3 st-pos-2 st-ali-r cm-wid-3 cm-pos-2 ph-wid-3 ph-pos-2 ph-ali-r image">
          <%= image_tag "customer-support-representative.png" %>
        </div>

        <div class="col outer st-wid-6 st-pos-5 ph-wid-7 blurb">
          <h3>Local customer support</h3>
          <p>Based in Masterton and available online and on the phone. For information on how to switch to&nbsp;Powershop:</p>
        </div>

        <div class="col outer st-wid-6 st-pos-2 st-wrap has-icons">
          <h2><span class="icon"><span class="ui-font">P<span class="hidden">hone</span></span></span>0800 1000&nbsp;60</h2>
          <p>(Free call) between 9am – 9pm Monday to&nbsp;Friday.</p>
        </div>

        <div class="col outer st-wid-6 st-pos-2 st-wrap has-icons">
          <h2><span class="icon"><span class="ui-font">E<span class="hidden">mail</span></span></span>Or online</h2>
          <p><a href="">Email</a>, <a href="">Skype</a> or message us on <a href="">Facebook</a></p>
        </div>

      </div>
    </div>
