    <div class="container spaced" style="background-color: #ededed;">
      <div class="row">

        <div class="col outer st-wid-6 st-pos-7 ph-wid-10 ph-pos-2">
          <%= image_tag "we-make-payments-easy.png" %>
          <p class="caption ph-ali-c">Pay online with your preferred payment method</p>
        </div>

        <div class="col outer st-wid-6 st-pos-1 ph-wid-10 ph-pos-2 ph-wrap-s">
          <h2 class="ph-ali-c">We make payments&nbsp;easy</h2>
          <ul>
            <li>Choose to pay after or before you use your power.</li>
            <li>Pay once a month with an automatic payment by credit card or direct debit.</li>
            <li>Or, make a manual payment by credit card, direct debit, internet banking or by cash or EFTPOS with one of our recharge&nbsp;cards.</li>
            <li>Or, get more involved and buy power&nbsp;online.</li>
          </ul>
        </div>

      </div>
    </div>
