
    <div id="footer" class="container">
      <div class="row">

        <div class="outer st-wid-12 st-pos-1 ph-wid-12">


          <div class="col st-wid-3 ph-wid-12 getting-around">

            <ul class="links first">
              <li><a href="">Sitemap</a></li>
              <li><a href="">Questions Answered</a></li>
              <li class="moving"><a href="">Moving house</a></li>
              <li class="moving-business"><a href="">Moving premises</a></li>
              <li><a href="">About us</a></li>
            </ul>

          </div>

          <div class="col st-wid-3 st-pos-3 ph-wid-12 ph-pos-0 ph-wrap">

            <ul class="links">
              <li><a href="">Privacy policy</a></li>
              <li><a href="">Terms &amp; conditions</a></li>
              <li><a href="">Fees</a></li>
              <li><a href="">Refunds</a></li>
            </ul>

          </div>

          <div class="col st-wid-3 st-pos-6 ph-wid-12 ph-pos-0 ph-wrap">

            <ul class="links first">
              <li><a href="" onclick="_gaq.push(['_trackEvent', 'Outgoing links', 'Social', 'Facebook', 5]);">Powershop on Facebook</a></li>
              <li><a href="" onclick="_gaq.push(['_trackEvent', 'Outgoing links', 'Social', 'Twitter', 5]);">Powershop on Twitter</a></li>
              <li><a href="" onclick="_gaq.push(['_trackEvent', 'Outgoing links', 'Social', 'Twitter-promos', 5]);">Powershop promotions on Twitter</a></li>
            </ul>

          </div>

          <div class="col st-wid-3 st-pos-9 ph-wid-12 ph-pos-0 ph-wrap">

            <ul class="links">
              <li><a href="">Mobile apps</a></li>
              <li><a href="">Developers API</a></li>
              <li><a href="">Blog</a></li>
            </ul>

          </div>

        </div>

        <div class="outer st-wid-12 st-pos-1 st-wrap-m ph-wid-12">
          <div class="fb-like" data-href="" data-send="false" data-show-faces="false" data-colorscheme="dark" data-width="270"></div>
        </div>


        <div class="outer st-wid-12 st-pos-1 st-wrap-m ph-wid-12">

          <div class="col st-wid-3 ph-wid-12">
            <h4>Contact us</h4>
            <p>Call 0800 1000 60 and talk to a real person, <a href="">email us</a>, or see all the other ways to get in touch on our <a href="">contact us&nbsp;page</a>.</p>
          </div>

          <div class="col st-wid-3 st-pos-3 ph-wid-12 ph-pos-0 ph-wrap">
            <h4>Complaints</h4>
            <p>Powershop is a member of The Electricity and Gas Complaints Commissioner Scheme. View our <a href="">complaints&nbsp;process</a>.</p>
          </div>

          <div class="col st-wid-3 st-pos-6 ph-wid-12 ph-pos-0 ph-wrap">
            <h4>Faults</h4>
            <p>In the event of a fault or power outage, contact your regional network company listed on our <a href="">contact us&nbsp;page</a>.</p>
          </div>

          <div class="col st-wid-3 st-pos-9 ph-wid-12 ph-pos-0 ph-wrap switch">
            <h4><a href="" class="button">Switch&nbsp;now</a></h4>
          </div>

        </div>

      </div>
      <div class="row">

        <div class="col outer st-wid-12 st-pos-1 copyright">

          <div class="lined">
            <p>&copy;2013 Powershop New Zealand Limited</p>
            <%= image_tag "footer-winky.png" %>
          </div>

        </div>

      </div>

    </div>

  </div>
