<div class="" id="fullscreen_overlay">
  <div class="">
    <div class="">
      <textarea name="fullscreen-contents" id="fullscreen-contents" class="" placeholder="" data-suggester="fullscreen_suggester"></textarea>
    </div>
  </div>
  <div class="">
    <a href="">
      <span class=""></span>
    </a>
    <a href="">
      <span class=""></span>
    </a>
  </div>
</div>
