<div class="jumbotron">
  <div class="container">
    <div class="left-col">
      <h1 class="title">Build software better, together.</h1>
      <p class="sub-title">
        Powerful collaboration, code review, and code management for open source and private projects. Need private repositories? <a href="">Upgraded plans start at $7/mo.</a>
      </p>
    </div>

    <div class="right-col">

      <form accept-charset="UTF-8" action="" autocomplete="off" class="signup" method="post">

        <input type="text" name="user[login]" class="text-box" placeholder="Pick a username" data-autocheck-url="/signup_check/username" autofocus="">
        <input type="text" name="user[email]" class="text-box" placeholder="Your email" data-autocheck-url="/signup_check/email">
        <input type="password" name="user[password]" class="text-box" placeholder="Create a password" data-autocheck-url="/signup_check/password">
        <p class="">Use at least one lowercase letter, one numeral, and seven characters.</p>

        <button class="button button-green button-full-width" type="submit">Sign up for GitHub</button>
        <p class="">
          By clicking "Sign up for GitHub", you agree to our <a href="">terms of service</a> and <a href="">privacy policy</a>.
        </p>
      </form>

    </div>
  </div>
</div>
