<div class="">
  <div class="">
    <div class="">
      <h1 class="">Build software better, together.</h1>
      <p class="">
        Powerful collaboration, code review, and code management for open source and private projects. Need private repositories? <a href="">Upgraded plans start at $7/mo.</a>
      </p>
    </div>

    <div class="">

      <form accept-charset="UTF-8" action="" autocomplete="off" class="" method="post">

        <input type="text" name="user[login]" class="" placeholder="Pick a username" data-autocheck-url="/signup_check/username" autofocus="">
        <input type="text" name="user[email]" class="" placeholder="Your email" data-autocheck-url="/signup_check/email">
        <input type="password" name="user[password]" class="" placeholder="Create a password" data-autocheck-url="/signup_check/password">
        <p class="">Use at least one lowercase letter, one numeral, and seven characters.</p>

        <button class="" type="submit">Sign up for GitShop</button>
        <p class="">
          By clicking "Sign up for GitShop", you agree to our <a href="">terms of service</a> and <a href="">privacy policy</a>.
        </p>
      </form>

    </div>
  </div>
</div>
