    <div class="container spaced" style="background-color: #f5f5f5;">
      <div class="row">
        <div class="col outer st-wid-12 st-pos-1 ph-wid-12 ph-pos-1 centered-type can-stack informed">
          <h2>We keep you&nbsp;informed</h2>
          <div class="col st-wid-4 ph-wid-12 ph-pos-0 ph-wrap method">
            <%= image_tag "weekly-email.svg" %>
            <div class="inner">
              <h3>Weekly email</h3>
              <p>Showing you how much power you&rsquo;re using and how each week compares. Plus we alert you to special&nbsp;deals.</p>
            </div>
          </div>
          <div class="col st-wid-4 st-pos-4 ph-wid-12 ph-pos-0 ph-wrap-m method">
            <%= image_tag "monthly-email.svg" %>
            <div class="inner">
              <h3>Monthly email</h3>
              <p>A statement of your usage and the cost for the&nbsp;month.</p>
            </div>
          </div>
          <div class="col st-wid-4 st-pos-8 ph-wid-12 ph-pos-0 ph-wrap-m method">
            <%= image_tag "login-anytime.svg" %>
            <div class="inner">

              <h4>Login Anytime</h4>

              <p>Get up-to-date information about your power usage and cost online. No need to wait for your monthly&nbsp;statement.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
