<div class="love-us">
  <div class="">
    <div class="">
      <h1>Why you’ll love GitHub.</h1>
      <p class=""><a href="">Powerful features</a> to make software development more collaborative.</p>
    </div>
    <div class="">
      <div class="">
        <div class="">
          <span class=""></span>
        </div>
        <h3>Great collaboration starts with communication.</h3>
        <p>Review changes, comment on lines of code, report issues, and plan the future of your project with discussion tools.</p>
      </div>
      <div class="">
        <div class="">
          <span class=""></span>
        </div>
        <h3>Friction-less development across teams.</h3>
        <p>Work with project collaborators or teams of people in organization accounts to communicate with ease.</p>
      </div>
      <div class="">
        <div class="">
          <span class=""></span>
        </div>
        <h3>World's largest open source community.</h3>
        <p>Share your projects with the world, get feedback, and contribute to <a href="">millions of repositories</a> hosted on GitHub.</p>
      </div>
      <div class="">
        <div class="">
          <span class=""></span>
        </div>
        <h3>Do more with powerful integrations.</h3>
        <p>Discover applications and tools that <a href="">integrate with GitHub</a> to help you and your team build software better, together.</p>
      </div>
    </div>
  </div>
</div>
