<div class="">
  <div class="">
    <h1>Bring GitShop to work.</h1>
    <p class="">Use GitShop Enterprise, the best way to build software, on your servers.</p>
    <a class="" href="">Learn more about Enterprise</a>
  </div>

  <%= image_tag "gh-enterprise-code.png", class: "example-image" %>
</div>
