<div class="">
  <div class="">
    <div class="">
      <h1>The power of GitShop on your desktop.</h1>
      <p class="">Browse repositories, create and manage branches, and commit changes—all from your desktop.</p>
      <div class="">
        <a class="" href="">
          Download GitShop for Mac
        </a>
        <p class="">
        Requires OS X 10.7+ · <a href="">Learn more</a>
        </p>
      </div>
      <div class="">
        <a class="" href="">
          Download GitShop for Windows
        </a>
        <p class="">
        For Windows XP, 7, &amp; 8 · <a href="">Learn more</a>
        </p>
      </div>
    </div>


    <div class="">
      <%= image_tag "gh-mac-app.png", class: "image" %>
    </div>

    <hr class="">

    <div class="">
      <h3>Looking for other applications?</h3>

      <ul class="">
        <li class="">
        <a class="" href="">
          <%= image_tag "gh-app-apple.png" %>
        </a>
        </li>
        <li class="">
        <a class="" href="">
          <%= image_tag "gh-app-windows.png" %>
        </a>
        </li>
        <li class="">
        <a href="">
          <%= image_tag "gh-app-eclipse.png" %>
        </a>
        </li>
      </ul>
    </div>
  </div>
</div>
