      <div class="">
        <div class="">
          <div class="">
            <h1>Bring GitHub to work.</h1>
            <p class="">Use GitHub Enterprise, the best way to build software, on your servers.</p>
            <a href="">Learn more about Enterprise</a>
          </div>
          <%= image_tag "gh-enterprise-code.png"%>
        </div>
        <div class=""></div>
      </div>
