<div class="marketing-enterprise">
  <div class="message">
    <h1>Bring GitHub to work.</h1>
    <p class="">Use GitHub Enterprise, the best way to build software, on your servers.</p>
    <a class="button button-blue" href="">Learn more about Enterprise</a>
  </div>

  <%= image_tag "gh-enterprise-code.png", class: "example-image" %>
</div>
