<div class="">
  <div class="">

    <a class="" href="#">
      <span class=""></span>
    </a>

    <div class="">
      <a class="" href="">Sign in</a>
    </div>

    <div class="">

      <ul class="">
        <li class=""><a href="">Explore</a></li>
        <li class=""><a href="">Features</a></li>
        <li class=""><a href="">Enterprise</a></li>
        <li class=""><a href="">Blog</a></li>
      </ul>
      <form accept-charset="UTF-8" class="" method="get">

        <input type="text" data-hotkey="/ s" name="q" id="js-command-bar-field" placeholder="Search or type a command" tabindex="1" autocapitalize="off" class="">

      </form>
    </div>

  </div>
</div>
