<div class="nav">
  <div class="container">

    <a class="header-logo" href="#">
      <span class="logo"></span>
    </a>

    <div class="nav-actions">
      <a class="button" href="">Sign in</a>
    </div>

    <div class="command-bar">

      <ul class="top-nav">
        <li class=""><a href="">Explore</a></li>
        <li class=""><a href="">Features</a></li>
        <li class=""><a href="">Enterprise</a></li>
        <li class=""><a href="">Blog</a></li>
      </ul>
      <form accept-charset="UTF-8" action="https://github.com/search" class="" id="top_search_form" method="get">

        <input type="text" data-hotkey="/ s" name="q" id="js-command-bar-field" placeholder="Search or type a command" tabindex="1" autocapitalize="off" class="search">

      </form>
    </div>

  </div>
</div>
