    <div class="container spaced">
      <div id="testimonials" style="padding-top: 160px; margin-top: -160px; display: block;"></div>
      <div class="row">
        <div class="col outer st-wid-10 st-pos-2 centered">
          <h2>What do others think?</h2>
          <h4>Over 50,000 Kiwis have joined Powershop since we launched in 2009. And we&rsquo;ve been independently rated as having the most satisfied customers of any power company in NZ. <a class="more-link" href="" target="_blank">Visit rating site...</a></h4>
        </div>
      </div>
      <div id="testimonials-output">
      </div>
    </div>
