  <div id="unsupported">
    <div class="container pink white-type">
      <div class="row">
        <div class="st-wid-12 st-pos-1">
          <p class="fineprint">We worked with the public to make our website easy to use and understand, so it uses features that your older browser may not fully support. If you experience display problems <a href="">click here</a> for a list of upgrade options.</p>
        </div>
      </div>
    </div>
  </div>
