    <div class="container spaced last">
      <div class="row">

        <div class="col outer st-wid-12 st-pos-1 whats-next">
          <h2>What&rsquo;s next?</h2>
          <div class="col st-wid-4 inner clear active">
            <a href="" class="jq-fit-me"></a>
            <p class="largest">1.</p>
            <div>
              <h4>What is Powershop?</h4>
              <p class="note">What we can do for&nbsp;you</p>
            </div>
          </div>
          <div class="col st-wid-4 st-pos-4 inner clear">
            <a href="" class="jq-fit-me"></a>
            <p class="largest">2.</p>
            <div>
              <h4><a href="">Toolkit</a></h4>
              <p class="note">Smart tools to help you take&nbsp;control</p>
            </div>
          </div>
          <div class="col st-wid-4 st-pos-8 inner clear">
            <a href="" class="jq-fit-me"></a>
            <p class="largest">3.</p>
            <div>
              <h4><a href="">How much does it cost?</a></h4>
              <p class="note">Get a cost estimate</p>
            </div>
          </div>
        </div>

      </div>
    </div>
