.button {
  color: $text-color;
  padding: 1em;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  background-color: $light-grey;
  background-image: -moz-linear-gradient(#fcfcfc, $lighter-grey);
  background-image: -webkit-linear-gradient(#fcfcfc, $lighter-grey);
  background-image: linear-gradient(#fcfcfc, $lighter-grey);
  border: 1px solid #d5d5d5;
}

.button-green {
  color: $white;
  background-color: $green;
  background-image: -moz-linear-gradient($light-green, $green);
  background-image: -webkit-linear-gradient($light-green, $green);
  background-image: linear-gradient($light-green, $green);
  border-color: $dark-green;
}

.button-blue {
  color: $white;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: $blue;
  background-image: -moz-linear-gradient($light-blue, $blue);
  background-image: -webkit-linear-gradient($light-blue, $blue);
  background-image: linear-gradient($light-blue, $blue);
  background-repeat: repeat-x;
  border-color: $dark-blue;
}

.button-full-width {
  width: 100%;
}
