.call-to-actions {
  @include clearfix;
  text-align: center;
  padding: 3em;
  color: $white;
  font-size: 130%;

  .column {
    float: left;
    width: 33%;
  }

  .box {
    margin: 30px 0;
    padding: 2em;
    height: 400px; // uugh ...

    &.selected {
      margin: 10px 0;
      height: 440px; // uugh ...
    }

  }
  .dark-pink {
    background-color: $dark-pink
  }
  .medium-pink {
    background-color: $medium-pink
  }
  .light-pink {
    background-color: $light-pink
  }

}
