.call-to-actions {
  @include clearfix;
  text-align: center;
  padding: 3em;
  color: $white;
  font-size: 130%;

  .column {
    float: left;
    width: 33%;
  }

  .box {
    margin: 30px 0;
    padding: 2em;
    height: 400px; // uugh ...

    .details {
      display: none;
    }
  }

  .box.selected {
    padding-top: 120px;
    margin-top: -60px;
    height: 520px; // uugh ....

    .details {
      display: block;
    }
  }

  .dark-pink {
    background-color: $dark-pink
  }
  .medium-pink {
    background-color: $medium-pink
  }
  .light-pink {
    background-color: $light-pink
  }

}
