.jumbotron {

  @include clearfix;
  color: $white;
  padding: 3em;
  text-shadow: 0 1px 3px $dark-grey;
  background: $very-dark-grey asset-url('octicons-bg.png') center repeat;

  .title {
    font-size: 350%;
    font-weight: normal;
  }
  .sub-title {
    font-size: 150%;
  }

  .left-col {
    float: left;
    width: 50%;
  }

  .right-col {
    float: right;
    width: 50%;
  }

  .signup {
    margin: 0 auto;
    width: 50%;

    .text-box {
      display: block;
      margin: 0.5em 0;
      border-radius: 5px;
      padding: 1em;
      width: 100%;
    }
  }
}
