.marketing-enterprise {
  @include clearfix;
  background: $dark-grey asset-url('gh-enterprise-bg.jpg') top center no-repeat;
  color: $white;
  text-align: center;
  padding: 3em 3em 0 3em;

  .message {
    @include clearfix;
  }

  .example-image {
    display: block;
    width: 70%;
    margin: 0 auto;
    padding-top: 1em;

  }
}
