.nav {
  @include clearfix;
  margin: 15px 0;

  .container {
    @include clearfix;
    width: 980px;
    margin-left:  auto;
    margin-right: auto;
  }

  .header-logo {
    float: left;
  }

  .logo {
    background-image: asset-url('gitshop.png');
    height: 31px;
    width: 126px;
    display: inline-block;
  }

  .button {
    padding: 7px 12px;
  }

  .nav-actions {
    float: right;
  }

  .search {
    width: 220px;
    padding: 4px 20px 4px 8px;
    min-height: 28px;
    font-size: 12px;
    border-radius: 3px;
  }

  .command-bar {
    width: 770px;
    margin-top: 3px;
    margin-left: 15px;
    float: left;
    position: relative;
  }

  .top-nav {
    float: left;
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
  }

  .top-nav > li {
    float: left;
  }

  .top-nav > li + li {
    margin-left: 5px;
  }

  .top-nav > li > a {
    padding: 5px;
    display: block;
    color: $text-color;
    font-weight: bold;
  }
}
