$white: #fff;
$lighter-grey: #eee;
$light-grey: #ddd;
$grey: #ccc;
$dark-grey: #222;
$very-dark-grey: #202021;
$green: #569e3d;
$light-green: #79d858;
$dark-green: #4a993e;
$blue: #3072b3;
$light-blue: #599bcd;
$dark-blue: #2a65a0;

$text-color: #333;
